body {
  background-color: #06283D; }

h1, h2 {
  color: #F8EDE3;
  font-size: 80px; }

img {
  width: 500px;
  height: auto; }

h2 {
  color: #47B5FF; }

p {
  color: #F8EDE3; }

#boke {
  width: 350px; }
