@import "colors";
@import "mixins";
@import "fotosSizes";

body{
    background-color: $azul-oscuro;
}

h1{
    color: $beige;
    font-size: 80px;
}

img{
    @include fotos;
}

h2{
    @extend h1;
    color: $azul-claro;
}

p{
    color: $beige;
}

#boke{
    width: $grande/2;
}