h1 {
    color: #FD841F;
    font-size: 50px;
}

h2 {
    color: #0085Fd;
    font-size: 40px;
}

h3{
    color: #e55a00;
    font-size: 25px;
}

ul li{
    list-style-type:square;
}

img{
    margin: 0px;
    width: 100%;
}


.flexContainer{
    margin: 0px 50px;
    width: 350px;
    height: 500px;
    background-color: #e55a00;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around;
    align-items: center;
}

.flexItem{
    width: 100px;
    height: 100px;
    background-color: #0085Fd;
}