h1 {
    color: #FD841F;
    font-size: 50px;
}

h2 {
    color: #0085Fd;
    font-size: 40px;
}

h3{
    color: #e55a00;
    font-size: 25px;
}

ul li{
    list-style-type:square;
}

img{
    margin: 0px;
    width: 100%;
}


.flexContainer{
    margin: 0px 50px;
    width: 350px;
    height: 500px;
    background-color: #e55a00;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around;
    align-items: center;
}

.flexItem{
    width: 100px;
    height: 100px;
    background-color: #0085Fd;
}

.gridContainer{
    width: 90%;
    height: 500px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
    display: grid;
    grid-template-areas:
    "element1 element1 element1 element1 element1 element1"
    "element2 element2 element3 element3 element4 element4"
    "element2 element2 element3 element3 element4 element4"
    "element2 element2 element3 element3 element4 element4"
    "element5 element5 element5 element6 element6 element6"
    "element5 element5 element5 element6 element6 element6";
    gap: 10px;
}

.caja{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.caja1{
    background-color: slateblue;
    grid-area: element1;
    /* grid-column: 1/4;
    grid-row: 1/3; */
}

.caja2{
    background-color: deeppink;
    grid-area: element2;
    /* grid-column: 4/6;
    grid-row: 1/5; */
}

.caja3{
    background-color: seagreen;
    grid-area: element3;
    /* grid-column: 1/4;
    grid-row: 3/5; */
}

.caja4{
    background-color: brown;
    grid-area: element4;
    /* grid-column: 1/-1;
    grid-row: 5/-1; */
}

.caja5{
    background-color: lightcoral;
    grid-area: element5;
}

.caja6{
    background-color: lightseagreen;
    grid-area: element6;
}

@media (max-width:768px){
    .caja6{
        background-color: #e55a00
    }
};